html {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

strong {
  font-weight: bold;
}

.image-container {
  overflow: hidden;
  margin-bottom: 100px;
  
}

.image-container img {
  display: block;
  max-width: 100%;
}

/* Header */

header {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 5px;
  background-image: url("images/family.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#logo-small {
  width: 100px;
}

header .logo-small {
  display: none;
}

header .logo-small,
header .logo-big {
flex-grow: 1;
}

nav ul {
  padding: 0;
  display: inline-block;
}

nav li {
  color: #FFF;
  display: inline-block;
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 0px 10px;
  text-transform: uppercase;
}

nav {
  text-align: center;
  padding: 5px;
  margin-bottom: 120px;
}

@media only screen and (max-width: 1000px) {
  header .logo-big {
    display: none;
  }

  header .logo-small {
      display: block;
  }

  html {
      font-size: 14px;
}
}

@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }

  header .logo-small {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  #logo-small {
      width: 150px;
  }

  nav li {
      padding: 10px 50px;
  }
}
