/* Global Settings */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: black;
    width: 100%;
    height: 100%
}

h2 {
    font-family: 'Playfair Display', serif;
}

/* Flex Universal */
.container {
    display: flex;
}

/* navbar/logo */
nav {
    
    position: static;
    top: 0;
}

.nav-container {
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

#nav-link-container {
    justify-content: space-between;
    text-align: center;
    margin-top: 10px;
    width: 75%;
}


.nav-link {
    margin-right: 15px;
    padding: 5px;
}

#nav-link-container li {
    list-style-type: none;
    display: inline-flex;
  }

#nav-link-container a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

#logo {
    height: 60px;
    width: auto;
    margin-top: 10px;
    margin-right: 50px;
    right: 50px;
}


/* banner */
.bannerimg {
    background-image: linear-gradient( rgba(1, 23, 85, 0.8), rgba(1, 23, 85, 0.8)), url("images/family.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 75%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -30px;
    z-index: -1
}

.bannertext {
    display: block;
    position: absolute;
    width: 400px;
    color: white;
    flex-wrap: wrap;
    left: 10%;
}

.bannertext h2 {
    font-size: 50px;
}

.bannertext h4 {
    font-weight: 400;
    line-height: 40px;
}

.video-container {
    display: block;
    z-index: 2;
    min-width: 500px;
    width: 50%;
    height: 350px;
    overflow:hidden;
    position:absolute;
    top: 130px;
    right: 2%;
}

#video-bg{
    width:100%;
    min-height: 100%;
    object-fit: contain;
    position: relative;
    bottom: 0;
    top: -50px;
}

header {
    height: 600px;
    width: 100%;
}

#call {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

  }

.break { 
}


  @media screen and (max-width: 600px) {
    .nav-container {
        flex-direction: column;
    }
    .nav-container a {
        font-size: 18px;
        margin-right: 10px;
    }
    #logo {
        margin-right: 0px;
    }
    .flex-430px {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    #nav-link-container li {
        display: block;
    }
    .bannerimg {
        width: 100%;
    }
    .bannertext {
        margin-top: 200px;
        text-align: center;
        width: 100%;
        left: auto;
    }
    .bannertext h2 {
        font-size: 35px;
    }
    .bannertext h4 {
        font-size: 20px;
    }
    header {
        height: 750px;
    }
    
  }

  @media screen and (max-width: 1000px) {
    .video-container {
        display: none;
    }
  }